{% extends 'base.html.twig' %}
{% block body %}
<h3>Classement des cryptomonnaies en fonction de la moyenne (de la plus grande a la plus petite)</h3>
{% for key,value in bestnote %}
<p>{{ key}} : {{value}}</p>
{% endfor %}
{% endblock %}
